.contacts {
  margin-bottom: 67px;

  &__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__map {
    position: relative;
    grid-column: 8 span;
    height: 99.5%;
    // height: 460px;
  }

  &__info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 51.8%;
    padding-top: 175px;
    padding-left: 60px;
    padding-right: 50px;
    background-color: rgba(32, 32, 32, 0.85);
    z-index: 99;
    transition: transform 0.3s ease-in-out;

    &-title {
      margin-bottom: 5px;
      font-family: 'TT Firs Neue', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 22px;
      color: var(--light-color);
    }

    &--close {
      transform: translateX(-200%);
    }



  }

  &__btn {
    position: relative;

    &-close {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background-color: #666666;
    }

    &-icon {
      fill: var(--light-color);
      width: 10px;
      height: 10px;
    }
  }

  &__address {
    margin-bottom: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #CACACA;
  }

  &__tel {
    padding-left: 22px;
    display: inline-block;
    font-family: 'TT Firs Neue', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--light-color);
    background-image: url(../img/call.svg);
    background-repeat: no-repeat;
    background-position: left center;
  }
}

[class*='ground-pane'] {
  filter: grayscale(1);
}

[class*="copyrights-pane"] {
  display: none !important;
}
