.contacts {

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
  }

  &__map {
    position: relative;
    grid-column: 8 span;
    // width: 850px;
    height: 460px;
  }
}

[class*='ground-pane'] {
  filter: grayscale(1);
}

[class*="copyrights-pane"] {
	display: none !important;
}
