.projects {
  padding: 68px 0;

  &__title {
    margin-bottom: 12px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: start;
    gap: 30px;
  }

  &__item {
    height: 100%;
  }

  &__item-small {
    grid-column: 2 span;
  }

  &__item-big {
    grid-column: 6 span;
  }

  &__item-medium {
    grid-column: 3 span;
  }

  &__article {
    position: relative;

    &-text {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    &-big {
      padding: 22px 30px 30px 30px;
      height: 100%;

      .projects__date {
        margin-bottom: 3px;
        color: var(--light-color);
        background-image: url(../img/calendar_white.svg);
      }

      .projects__descr {
        max-width: 292px;
        color: var(--light-color);

      }
    }

    &-title {
      max-width: 290px;
      margin-bottom: 6px;
      font-family: 'TT Firs Neue';
      font-weight: 700;
      font-size: 24px;
      line-height: 24px;
      color: var(--light-color);
    }


  }

  &__image {
    margin-bottom: 14px;
    width: 100%;
  }

  &__descr {
    display: inline-block;
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--bg-color);
  }

  &__date {
    display: inline-block;
    padding-left: 18px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #999999;
    background-image: url(../img/calendar_gray.svg);
    background-repeat: no-repeat;
    background-position: left center;
  }

  &__link {
    display: block;
    margin-top: auto;
    padding: 13px 19px;
    width: 122px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: var(--light-color);
    border: 3px solid var(--orange-color);
  }

}

.big-1 {
  @include image-set('../img/project-img_big-1');
}

.big-2 {
  @include image-set('../img/project-img_big-2');
}
