.tag {
  position: absolute;
  top: 7px;
  right: 7px;
  padding: 7px 14px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--light-color);
  background-color: var(--bg-color);
}
