<footer class="footer">
  <div class="container footer__container">
    <div class="footer__copy">
      <a class="logo footer__logo">
        <img loading="lazy" src="img/logo.svg" class="image" width="190" height="31" alt="Логотип">
      </a>
      <p class="footer__copy-text">Фотостудия High pass® 2018-2020</p>
    </div>

    <div class="footer__blockquote">
      <q class="footer__blockquote-text">Которая из моих фотографий самая любимая? Та,&nbsp;которую я собираюсь снять
        завтра.
        <cite class="footer__blockquote-author">© Имоджен Каннингем</cite>
      </q>

    </div>

    <div class="footer__social">
      <p class="footer__social-text">Больше интересного:</p>
      <div class="social footer__social-wrapper">
        <ul class="social__list list-reset">
          <li class="social__item">
            <a href="#" class="social__link" aria-label="Наша страница в instagram">
              <svg class="social__icon">
                <use xlink:href="img/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a href="#" class="social__link" aria-label="Наша страница на facebook ">
              <svg class="social__icon">
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a href="#" class="social__link" aria-label="Наша страница в VK">
              <svg class="social__icon">
                <use xlink:href="img/sprite.svg#vk"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
